* {
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

.navcontainer {
    position: relative;
    width: 100%;
}

/*nav//sidebar*/
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: rgb(11, 11, 97);
    border-left: 10px solid rgb(11, 11, 97);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
}

.topicon {
    height: 40px;
    filter: drop-shadow(0px 0px 8px rgb(255, 255, 255));
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover, .navigation ul li.hovered {
    background-color: #ffffff;
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
}

.navigation ul li a {
    position:relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: large;
}

.navigation ul li:hover a, .navigation ul li.hovered a {
    color: rgb(11, 11, 97);
}

.navicon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
    font-size: larger;
}

.titles {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 75px;
    text-align: start;
    white-space: nowrap;
    font-family: "Comfortaa", serif;
}

.navigation ul li:hover a::before, .navigation ul li.hovered a::before  {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px #ffffff;
    pointer-events: none;
}

.navigation ul li:hover a::after, .navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px #ffffff;
    pointer-events: none;
}

.navigation .logolink:hover, .navigation .logolink.hovered {
    background-color: rgb(11, 11, 97);
}

.navigation ul .logolink:hover a::before, .navigation ul .logolink.hovered a::before  {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px transparent;
    pointer-events: none;
}

.navigation ul .logolink:hover a::after, .navigation ul .logolink.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px transparent;
    pointer-events: none;
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    transition: 0.5s;
    overflow: hidden;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-shadow: 0 0 5px 4px #353535;
}

.fa-bars {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

.profile {
    position: relative;
    top: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 50%;
    background-color: rgb(11, 11, 97);
    cursor: pointer;
}

/*drropdown*/
.profile:hover .profsub {
    display: block;
    position: absolute;
    left: -80px;
    top: 100%;
    background: transparent;
    border-radius: 5px;
}

.profsub {
    display: none;
    position: relative;
    z-index: 1000;
}

.profsub .subs {
    display: block;
    width: max-content;
    margin: 5px 0;
    background-color: #00144d;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 3px #878895;
}


.profsub .subs .subline {
    width: 115px;
    padding: 5px;
    text-align: center;
}

.subline a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.subline:hover {
    background-color: #274186;
}

.toplogo {
    height: 30px;
    position: relative;
}

/*calendar*/
.bodcont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    position: relative;
    width: 100%;
    min-height: 850px;
    height: max-content;
    margin: 0 auto;
    padding: 5px;
    color: #ffffff;
    display: flex;
    border-radius: 10px;
    background-color: rgb(11, 11, 97);
}

.left {
    width: 60%;
    padding: 20px;
}

.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #878895;
    border-radius: 5px;
    background-color: #ffffff;
}

.calendar::before, .calendar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #bbbbbbd7;
    transform: translateY(-50%);
}

.calendar::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(105, 105, 105);
}

.calendar .month {
    width: 100%;
    height: 150px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    font-weight: bold;
    text-transform: capitalize;
}

.calendar .month .prev, .calendar .month .next {
    cursor: pointer;
    font-size: 22px;
    font-weight: 900;
}

.calendar .month .prev:hover, 
.calendar .month .next:hover {
    color: blue;
}

.calendar .weekdays {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: bold;
}

.calendar .weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    margin-bottom: 20px;
}

.calendar .days .day {
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #878895;
    border: 1px solid #cacaca;
}

.calendar .day:not(.prev-date, .next-date):hover {
    color: #ffffff;
    background-color: #4c5d8b;
}

.calendar .days .prev-date,
.calendar .days .next-date {
    color: #cacaca;
}
.calendar .days .active {
    position: relative;
    font-size: 2rem;
    color: red;
    background-color: #192649;
}